body {
    color: darkred;
    background: lightblue;
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(0 0 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(1, 1, 134);
}


section{

    background: rgb(1, 1, 134);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{

    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p {
    fonti-size: 20px;
}